<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02-Organisaties en applicaties</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02-Organisaties en applicaties</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7ac70ecd19aa43b5964a7184b78735c2.png" alt="02-Organisaties en applicaties" usemap="#id-7ac70ecd19aa43b5964a7184b78735c2map"/>
			   <map name="id-7ac70ecd19aa43b5964a7184b78735c2map">
				  		<area shape="rect" coords="330,306,459,387" href="../elements/id-018ee5f749e74aec97b36f642baee41e.html"  target="element">
				  		<area shape="rect" coords="170,306,299,387" href="../elements/id-a75cb03bc10f44f28dc486a7835478e3.html"  target="element">
				  		<area shape="rect" coords="10,306,139,387" href="../elements/id-018ee5f749e74aec97b36f642baee41e.html"  target="element">
				          <area shape="rect" coords="10,506,459,530" href="../objects/id-439344c3196b4af094bdd99ded5d3db3.html" target="element" >
				  		<area shape="rect" coords="170,418,299,499" href="../elements/id-85e48f416e174734a42c4c7355e4c969.html"  target="element">
				  		<area shape="rect" coords="10,418,139,499" href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html"  target="element">
				  		<area shape="rect" coords="330,418,459,499" href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html"  target="element">
				          <area shape="rect" coords="554,506,1003,530" href="../objects/id-01981462c7de48b4b4468ee5b1abf9dc.html" target="element" >
				          <area shape="rect" coords="10,754,459,778" href="../objects/id-4884fb7558da4a41993087d242cdefb4.html" target="element" >
				          <area shape="rect" coords="554,258,1003,282" href="../objects/id-230aae7e84b343cebdbde91eb1d00352.html" target="element" >
				  		<area shape="rect" coords="10,554,139,635" href="../elements/id-018ee5f749e74aec97b36f642baee41e.html"  target="element">
				  		<area shape="rect" coords="170,666,299,747" href="../elements/id-85e48f416e174734a42c4c7355e4c969.html"  target="element">
				  		<area shape="rect" coords="10,666,139,747" href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html"  target="element">
				  		<area shape="rect" coords="330,666,459,747" href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html"  target="element">
				  		<area shape="rect" coords="874,306,1003,387" href="../elements/id-293d9b6c915a41779c684fe17f5c4699.html"  target="element">
				  		<area shape="rect" coords="554,306,683,387" href="../elements/id-018ee5f749e74aec97b36f642baee41e.html"  target="element">
				  		<area shape="rect" coords="714,418,843,499" href="../elements/id-85e48f416e174734a42c4c7355e4c969.html"  target="element">
				  		<area shape="rect" coords="554,418,683,499" href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html"  target="element">
				  		<area shape="rect" coords="874,418,1003,499" href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html"  target="element">
				  		<area shape="rect" coords="874,58,1003,139" href="../elements/id-293d9b6c915a41779c684fe17f5c4699.html"  target="element">
				  		<area shape="rect" coords="554,58,683,139" href="../elements/id-018ee5f749e74aec97b36f642baee41e.html"  target="element">
				  		<area shape="rect" coords="714,170,843,251" href="../elements/id-85e48f416e174734a42c4c7355e4c969.html"  target="element">
				  		<area shape="rect" coords="554,170,683,251" href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html"  target="element">
				  		<area shape="rect" coords="874,170,1003,251" href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html"  target="element">
				  		<area shape="rect" coords="330,58,459,139" href="../elements/id-293d9b6c915a41779c684fe17f5c4699.html"  target="element">
				  		<area shape="rect" coords="170,58,299,139" href="../elements/id-a75cb03bc10f44f28dc486a7835478e3.html"  target="element">
				  		<area shape="rect" coords="10,58,139,139" href="../elements/id-018ee5f749e74aec97b36f642baee41e.html"  target="element">
				          <area shape="rect" coords="10,258,459,282" href="../objects/id-73fad262363e4d028a8ee919d4d060e8.html" target="element" >
				  		<area shape="rect" coords="170,170,299,251" href="../elements/id-85e48f416e174734a42c4c7355e4c969.html"  target="element">
				  		<area shape="rect" coords="10,170,139,251" href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html"  target="element">
				  		<area shape="rect" coords="330,170,459,251" href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html"  target="element">
				          <area shape="rect" coords="10,10,1003,35" href="../objects/id-376e4cc1b0224f7f88285daf4f4d7212.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-376e4cc1b0224f7f88285daf4f4d7212.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-376e4cc1b0224f7f88285daf4f4d7212.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element"> (Event) Consumer </a> </td>
											    <td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element"> (Event) Producer </a> </td>
											    <td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element"> Intermediairy </a> </td>
											    <td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-73fad262363e4d028a8ee919d4d060e8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-73fad262363e4d028a8ee919d4d060e8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
											    <td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a75cb03bc10f44f28dc486a7835478e3.html" target="element"> Organisatie B </a> </td>
											    <td> <a href="../elements/id-a75cb03bc10f44f28dc486a7835478e3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-293d9b6c915a41779c684fe17f5c4699.html" target="element"> Organisatie C </a> </td>
											    <td> <a href="../elements/id-293d9b6c915a41779c684fe17f5c4699.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element"> (Event) Consumer </a> </td>
											    <td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element"> (Event) Producer </a> </td>
											    <td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element"> Intermediairy </a> </td>
											    <td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
											    <td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-293d9b6c915a41779c684fe17f5c4699.html" target="element"> Organisatie C </a> </td>
											    <td> <a href="../elements/id-293d9b6c915a41779c684fe17f5c4699.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element"> (Event) Consumer </a> </td>
											    <td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element"> (Event) Producer </a> </td>
											    <td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element"> Intermediairy </a> </td>
											    <td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
											    <td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-293d9b6c915a41779c684fe17f5c4699.html" target="element"> Organisatie C </a> </td>
											    <td> <a href="../elements/id-293d9b6c915a41779c684fe17f5c4699.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element"> (Event) Consumer </a> </td>
											    <td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element"> (Event) Producer </a> </td>
											    <td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element"> Intermediairy </a> </td>
											    <td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
											    <td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-230aae7e84b343cebdbde91eb1d00352.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-230aae7e84b343cebdbde91eb1d00352.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4884fb7558da4a41993087d242cdefb4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4884fb7558da4a41993087d242cdefb4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-01981462c7de48b4b4468ee5b1abf9dc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-01981462c7de48b4b4468ee5b1abf9dc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element"> (Event) Consumer </a> </td>
											    <td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element"> (Event) Producer </a> </td>
											    <td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element"> Intermediairy </a> </td>
											    <td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-439344c3196b4af094bdd99ded5d3db3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-439344c3196b4af094bdd99ded5d3db3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
											    <td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a75cb03bc10f44f28dc486a7835478e3.html" target="element"> Organisatie B </a> </td>
											    <td> <a href="../elements/id-a75cb03bc10f44f28dc486a7835478e3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
											    <td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-0406a668867b4110b0ee2002e8293b5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0406a668867b4110b0ee2002e8293b5f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
																		<td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element"> (Event) Producer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f69aa5b67e0a47d481f62e10507041d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f69aa5b67e0a47d481f62e10507041d6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a75cb03bc10f44f28dc486a7835478e3.html" target="element"> Organisatie B </a> </td>
																		<td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element"> Intermediairy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ca25a59c8d9f4ec2b03738929410d50b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca25a59c8d9f4ec2b03738929410d50b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-293d9b6c915a41779c684fe17f5c4699.html" target="element"> Organisatie C </a> </td>
																		<td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element"> (Event) Consumer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0406a668867b4110b0ee2002e8293b5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0406a668867b4110b0ee2002e8293b5f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
																		<td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element"> (Event) Producer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef5c1e0d134f4c4eb6d81e46059af693.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef5c1e0d134f4c4eb6d81e46059af693.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
																		<td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element"> Intermediairy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ca25a59c8d9f4ec2b03738929410d50b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca25a59c8d9f4ec2b03738929410d50b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-293d9b6c915a41779c684fe17f5c4699.html" target="element"> Organisatie C </a> </td>
																		<td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element"> (Event) Consumer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0406a668867b4110b0ee2002e8293b5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0406a668867b4110b0ee2002e8293b5f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
																		<td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element"> (Event) Producer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ca25a59c8d9f4ec2b03738929410d50b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca25a59c8d9f4ec2b03738929410d50b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-293d9b6c915a41779c684fe17f5c4699.html" target="element"> Organisatie C </a> </td>
																		<td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element"> (Event) Consumer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b33dc69a15194b2499a62e09770fdd00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b33dc69a15194b2499a62e09770fdd00.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-293d9b6c915a41779c684fe17f5c4699.html" target="element"> Organisatie C </a> </td>
																		<td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element"> Intermediairy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0406a668867b4110b0ee2002e8293b5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0406a668867b4110b0ee2002e8293b5f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
																		<td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element"> (Event) Producer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef5c1e0d134f4c4eb6d81e46059af693.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef5c1e0d134f4c4eb6d81e46059af693.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
																		<td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element"> Intermediairy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0bde5323b2fd4aef9834db67e1e81c72.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0bde5323b2fd4aef9834db67e1e81c72.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
																		<td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element"> (Event) Consumer </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-0406a668867b4110b0ee2002e8293b5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0406a668867b4110b0ee2002e8293b5f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
																		<td> <a href="../elements/id-378b50d762cb47cd83297e08bbaf706c.html" target="element"> (Event) Producer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f69aa5b67e0a47d481f62e10507041d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f69aa5b67e0a47d481f62e10507041d6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a75cb03bc10f44f28dc486a7835478e3.html" target="element"> Organisatie B </a> </td>
																		<td> <a href="../elements/id-85e48f416e174734a42c4c7355e4c969.html" target="element"> Intermediairy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0bde5323b2fd4aef9834db67e1e81c72.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0bde5323b2fd4aef9834db67e1e81c72.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018ee5f749e74aec97b36f642baee41e.html" target="element"> Organisatie A </a> </td>
																		<td> <a href="../elements/id-d009aef82f564e8488a457f5f3720b3a.html" target="element"> (Event) Consumer </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>